<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xa.fourth_p.mapper.UserMapper">
    <select id="getAllUser" resultType="com.xa.fourth_p.pojo.UserInfo">
        select * from USERINFO
    </select>
    <select id="getOneUser" parameterType="Integer" resultType="com.xa.fourth_p.pojo.UserInfo">
    select * from USERINFO where USERID = #{value}
    </select>
    <select id="checkLikeUser" parameterType="com.xa.fourth_p.pojo.UserInfo" resultType="com.xa.fourth_p.pojo.UserInfo">
        select * from USERINFO
        <where>
            <if test="accountname!=null">
                or  instr(AccountName,#{accountname})>0
            </if>
            <if test="username!=null">
                or instr(UserName,#{username})>0
            </if>
            <if test="email!=null">
                or instr(Email,#{email})>0
            </if>
        </where>
    </select>
    <select id="PaiMing" resultType="com.xa.fourth_p.pojo.UserInfo">
        select * from (select * from USERINFO order by USERINFO.USERINTEGRAL desc)where rownum  &lt;  11
    </select>
    <select id="checkRes" parameterType="java.lang.String" resultType="com.xa.fourth_p.pojo.UserInfo">
        select * from USERINFO where AccountName = #{param}
    </select>
    <select id="checkLogin" parameterType="com.xa.fourth_p.pojo.UserInfo" resultType="com.xa.fourth_p.pojo.UserInfo">
        select * from USERINFO where 1=1
        <if test="accountname!=null">
            AND AccountName = #{accountname}
        </if>
        <if test="password!=null">
            AND PassWord = #{password}
        </if>
    </select>
    <select id="getCountNum" resultType="Integer">
        select COUNT(*) from USERINFO
    </select>
    <select id="fenye" parameterType="com.xa.fourth_p.pojo.PageBean" resultType="com.xa.fourth_p.pojo.UserInfo">
        SELECT * FROM
        (SELECT A.*, ROWNUM RN FROM (SELECT * FROM USERINFO) A WHERE ROWNUM &lt; #{ParamMax} )
         WHERE RN &gt; #{ParamMin}
    </select>
    <insert id="insertUser" parameterType="com.xa.fourth_p.pojo.UserInfo">
        insert into USERINFO values(SEQ_PK_USERID.nextval,#{accountname},#{password}, #{username,jdbcType=VARCHAR},
        #{email},#{addresses,jdbcType=VARCHAR},#{phonenum,jdbcType=VARCHAR},#{headportrait,jdbcType=VARCHAR},#{userstatus},#{userlevel},#{userintegral},#{usermoney})
    </insert>
    <delete id="deleteUser" parameterType="Integer">
        delete from USERINFO where userid = #{value}
    </delete>
    <update id="updateUser" parameterType="com.xa.fourth_p.pojo.UserInfo" >
        update USERINFO
        <set>
            <if test="username!=null and username !=  '' ">
                UserName = #{username},
            </if>
            <if test="addresses!=null and addresses !=  '' ">
                Addresses = #{addresses},
            </if>
            <if test="phonenum!=null and phonenum !=  '' ">
                Phonenum = #{phonenum},
            </if>
            <if test="headportrait!=null and headportrait !=  '' ">
                HeadPortrait = #{headportrait},
            </if>
            <if test="userstatus!=null and userstatus !=  '' ">
                UserStatus = #{userstatus},
            </if>
            <if test="userlevel!=null and userlevel !=  '' ">
                UserLevel = #{userlevel},
            </if>
            <if test="userintegral!=null ">
                UserIntegral = #{userintegral},
            </if>
            <if test="usermoney!=null ">
                UserMoney = #{usermoney}
            </if>
        </set>
        where UserID=#{userid}
    </update>
    <select id="getAdminUser" parameterType="com.xa.fourth_p.pojo.AdminUser" resultType="com.xa.fourth_p.pojo.AdminUser">
        select * from AdminUser where AccountName=#{accountname} and PassWord = #{password}
    </select>
</mapper>